@charset "UTF-8";

@if $enable-inputs == true {
    .input {
        > input {
            @include placeholder($color-base);

            display: block;
            width: 100%;
            padding: .8rem 1.5rem 1.2rem;
            border-radius: $border-radius-base;
            border: solid 1px $color-minor;
            outline: none;

            &:disabled {
                opacity: .2;
            }

            @if $enable-jquery-ui-datepicker == true {
                &.hasDatepicker {
                    &.hasDatepickerFocus {
                        // Styles
                    }
                }
            }
        }

        &.input--invalid {
            > input {
                border-color: $color-error;
            }
        }
    }
}
