@charset "UTF-8";

@if $enable-textareas == true {
    .textarea {
        > textarea {
            @include placeholder($color-base);

            display: block;
            width: 100%;
            padding: .8rem 1.5rem 1.2rem;
            min-height: 20rem;
            border-radius: $border-radius-base;
            border: 1px solid $color-minor;
            outline: none;

            &:disabled {
                opacity: .2;
            }
        }

        &.textarea--invalid {
            > textarea {
                border-color: $color-error;
            }
        }
    }
}
