@charset "UTF-8";

.section {
    padding: 6rem 0;

    @include mq(md) {
        padding: 8rem 0;
    }

    @include mq(lg) {
        padding: 16rem 0;
    }

    &__header {
        text-align: center;
    }

    &__title {
        @include h2;

        color: $color-brand;
    }

    &__description,
    &__content {
        @include text-lg;

        margin-top: 3rem;

        > p {
            &:not(:first-child) {
                margin-top: 3rem;
            }
        }
    }

    &--contacts {
        padding-top: 6rem;
        padding-bottom: 0;
        background: $color-minor;

        @include mq(md) {
            padding-top: 8rem;
            padding-bottom: 0;
        }

        @include mq(lg) {
            padding-bottom: 0;
        }
    }
}
