header.site-header.site-header--bg(style='background-image: url(img/header-image.jpg)')
    .site-header__container
        .site-header__grid
            .site-header__item
                h1.site-header__title: a.js-node-hover(href='#') Эпоксидный Пенни


            .site-header__item
                nav.site-header__navigate
                    ul

                        li.is-md
                            a.js-node-hover(href='#') Каталог

                        li.is-md
                            a.js-node-hover(href='#') О нас

                        li.is-md
                            a.js-node-hover.is-current(href='#') Контакты

                        li.is-sm
                            a.js-node-hover.js-open-right-menu(href='#') Меню
