ul.contact-links

    li
        a.js-node-hover(href='#' target='_blank')
            img(src='img/insta.svg' alt='instagram')

    li
        a.js-node-hover(href='#' target='_blank')
            svg.icon(role='img' data-facebook)
                use(xlink:href='img/icons.svg#facebook')

    li
        a.js-node-hover(href='#' target='_blank')
            svg.icon(role='img' data-whatsapp)
                use(xlink:href='img/icons.svg#whatsapp')
