nav.right-menu-box.js-right-menu-box(role='navigation')
    .right-menu
        ul

            li
                a(href='#') Каталог

            li
                a(href='#') О нас

            li
                a(href='#') Контакты

        a.right-menu__close.js-close-right-menu
            svg.icon.icon--20(role='img')
                use(xlink:href='img/icons.svg#close')

.menu-shadow.js-close-right-menu
