footer.site-footer
    .container
        .site-footer__content
            h4.site-footer__title Мы в соцсетях
            p.site-footer__content Делаем не только доски Пенни Борд, но и многие другие приятные глазу вещи — стоит на это взглянуть.

            include _contact_links.pug
