extends layouts/application_bg_header.pug

block title
    title Index

block main
    #node.node
    #cursor.cursor
    section.section
        .container
            .section__header
                h2.section__title Наши контакты

                .section__content
                    p Мы занимаемся изготовлением досок с применением эпоксидных смол. Отличительная черта — яркий сочный дизайн, который ставит на паузу всех, кто катается рядом — они разглядывают ваш Пенни.
                    p В качестве сырья мы используем берёзу, орех, ольху, клён. Эпоксидная смола Graffsmith & Paper, колеры Syntacolor.
