extends layouts/application

block title
    title Index

block main
    section.promo.jarallax(style='background-image: url(img/Ferragamo_Holiday_2018_Fashionela-9.jpg)')
        .promo__logo-box
        h1.promo__title Эпоксидные доски Пенни Борд
        h2.promo__description Произведение искусства, но котором можно не только сидеть и трогать руками, <br>но и кататься по любимым местам

    .section
        .container
            .page-about
                p Мы занимаемся изготовлением досок с применением эпоксидных смол. Отличительная черта — яркий сочный дизайн, который ставит на паузу всех, кто катается рядом — они разглядывают ваш Пенни.
                p В качестве сырья мы используем берёзу, орех, ольху, клён. Эпоксидная смола Graffsmith & Paper, колеры Syntacolor.

    .promo.jarallax(style='background-image: url(img/Ferragamo_Holiday_2018_Fashionela-9.jpg)')

    section.section
        .container
            .section__header
                h2.section__title Варианты расцветок
                p.section__description В качестве сырья мы используем берёзу, орех, ольху, клён. Эпоксидная смола Graffsmith & Paper, колеры Syntacolor.
