extends layouts/application

block title
    title Index

block main
    section.promo.jarallax(style='background-image: url(img/Ferragamo_Holiday_2018_Fashionela-9.jpg)')
        .promo__logo-box
        h1.promo__title Эпоксидные доски Пенни Борд
        h2.promo__description Произведение искусства, но котором можно не только сидеть и трогать руками, <br>но и кататься по любимым местам

    .section
        .container
            .page-about
                p Мы занимаемся изготовлением досок с применением эпоксидных смол. Отличительная черта — яркий сочный дизайн, который ставит на паузу всех, кто катается рядом — они разглядывают ваш Пенни.
                p В качестве сырья мы используем берёзу, орех, ольху, клён. Эпоксидная смола Graffsmith & Paper, колеры Syntacolor.

    .promo.jarallax(style='background-image: url(img/Ferragamo_Holiday_2018_Fashionela-9.jpg)')

    section.section
        .container
            .section__header
                h2.section__title Варианты расцветок
                p.section__description В качестве сырья мы используем берёзу, орех, ольху, клён. Эпоксидная смола Graffsmith & Paper, колеры Syntacolor.

            .catalog
                .catalog__grid

                    .catalog__col
                        article.product-card
                            a(href='#')
                                .product-card__image
                                    img(src='https://via.placeholder.com/300x250?text=Visit+Blogging.com+Now C/O https://placeholder.com/')
                                .product-card__information
                                    .product-card__title
                                        span Черный Плэйграунд
                                    .product-card__price от 5000 ₽

                    .catalog__col
                        article.product-card
                            a(href='#')
                                .product-card__image
                                    img(src='https://via.placeholder.com/300x250?text=Visit+Blogging.com+Now C/O https://placeholder.com/')
                                .product-card__information
                                    .product-card__title
                                        span Карамельный Орех
                                    .product-card__price от 5000 ₽

                    .catalog__col
                        article.product-card
                            a(href='#')
                                .product-card__image
                                    img(src='https://via.placeholder.com/300x250?text=Visit+Blogging.com+Now C/O https://placeholder.com/')
                                .product-card__information
                                    .product-card__title
                                        span Янтарная Берёза
                                    .product-card__price от 5000 ₽

                    .catalog__col
                        article.product-card
                            a(href='#')
                                .product-card__image
                                    img(src='https://via.placeholder.com/300x250?text=Visit+Blogging.com+Now C/O https://placeholder.com/')
                                .product-card__information
                                    .product-card__title
                                        span Молочный Дуб
                                    .product-card__price от 5000 ₽

                    .catalog__col
                        article.product-card
                            a(href='#')
                                .product-card__image
                                    img(src='https://via.placeholder.com/300x250?text=Visit+Blogging.com+Now C/O https://placeholder.com/')
                                .product-card__information
                                    .product-card__title
                                        span Гудронный Спрэй
                                    .product-card__price от 5000 ₽

                    .catalog__col
                        article.product-card
                            a(href='#')
                                .product-card__image
                                    img(src='https://via.placeholder.com/300x250?text=Visit+Blogging.com+Now C/O https://placeholder.com/')
                                .product-card__information
                                    .product-card__title
                                        span Мятная Лиственница
                                    .product-card__price от 5000 ₽
